*{
    box-sizing: border-box;
}


header{
    background-color: #000;
    color: #fff;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: #fff;
}



#hero{
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image:url(../images/hands-typing.jpg);
    filter: grayscale(70%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
    font-size: 2rem;
    padding: 2em;
}

h1{
    max-width: 60%;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px #000;
}

h2{
    font-size: 2rem;
}

#about-me .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.text-am{
    grid-column: 1/2;
    align-content: center;
    }

.img-am{
    grid-column: 2/3; 
    align-content: flex-end;
}
