*{
    box-sizing: border-box;
}

header{
    background-color: #000;
    color: #fff;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: #fff;
}
