*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

header{
    background-color: #000;
    color: #fff;
    padding: 1em;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 1.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

#hero{
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image:url(../images/hands-typing.jpg);
    filter: grayscale(70%);

    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 2rem;
    padding: 2em;
}

h1{
    max-width: 60%;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

#about-me .wrapper{
    display: flex;
    align-content: space-around;
}

.text-am{
    align-self: center;
}

.img-am{
    align-self: flex-end;
    max-block-size: 400px;
}

#services{
    background-color: #fafafa;
    padding: 2em;
}

#services h2{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#services .wrapper

h3{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

article{
    background-color: #fff;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
}

.articles a:link,.articles a:visited{
  display: inline-block;
  padding: .5em .5em;
  background-color:#000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: auto;
  max-width: fit-content;
}

.articles a:hover, .articles a:focus{
    background-color: #fff;
    color: #000;
}

#work{
    text-align: center;
    margin: 0 auto;
}

#work .wrapper
  
#work h2{
    max-width: 700px;
    margin-top: 70px;
    margin-bottom: 20px;
    margin: 0 auto;
}

#work p{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 2em;
    background-color: #000;
}

.photos img{
    width: 100%;
}

.photos img:nth-child(1){
    grid-column: 1/span 3;
    grid-row: 1;
}
.photos img:nth-child(2){
    grid-column: 4/span 3;
    grid-row: 1;
}
.photos img:nth-child(3){
    grid-column: 1/span 2;
    grid-row: 2;
}
.photos img:nth-child(4){
    grid-column: 3/span 2;
    grid-row: 2;
}
.photos img:nth-child(5){
    grid-column: 5/span 2;
    grid-row: 2;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
}